body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.fancy.title {
  font-size: 30px;
  color: rgb(143, 5, 60);
  text-align: center;
  margin-bottom: 20px;
}

.fancy.task {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: rgb(92, 95, 92);
}

.fancy.task:hover{
  color: #d8981f;
}

.fancy.message {
  font-family: Brush Script Std, cursive;
  font-size: 25px;
  color: rgb(39, 134, 39);
  font-style: italic;
}

button{
  background-color: darkgray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

button:hover{
  background-color: grey;
}

.generator {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.generator p {
  font-size: 30px;
  font-family: Brush Script MT, cursive;
  color:  rgb(255, 81, 0);
  text-align: center;
  margin-bottom: 20px;
}

footer {
  padding: 10px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

footer p {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}